* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.placeholder {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 62px;
  flex-flow: column;
}

.word {
  display: flex;
  opacity: 0;
  transition: .9s;
}

.letter-cont {
  border: 1px solid black;
  margin-right: 2px;
  width: 150px;
}

.letter {
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}

.gallows__keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .9s;
}


.line {
  display: flex;
}

.key {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 0.5s;
}

.key:hover {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  /* animation: tremor 0.5s ease-in 1 alternate; */
}

.delete {
  transform: scale(0);
}

.vibration {
  animation: vibration 0.5s ease-in 1 alternate;
  transform: scale(0);
}
.none{
  display: none;
}




@keyframes vibration {

  0%,
  100% {
    background-color: red;
    color: #ffffff;
  }

  0% {
    transform: translateX(-5px);
  }

  20% {
    transform: translateX(5px);

  }

  40% {
    transform: translateX(-5px);

  }

  50% {
    transform: scale(1);
  }

  60% {
    transform: translateX(5px);

  }

  100% {
    transform: translateX(-5px);

    transform: scale(0);

  }
}