.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.placeholder {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 20px;
  font-size: 62px;
}
.word {
  display: flex;
}
.letter-cont {
  border: 1px solid black;
  margin-right: 2px;
  width: 150px;
}
.letter {
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}
.gallows__keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
}
.key {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  border: 1px black solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition-duration: 0.5s;
}

.key:hover {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
}

.delete {
  transform: scale(0);
}
